<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.github.msx80.omicron" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:isGame="true"
        android:appCategory="game"
        android:label="${appname}"
        android:theme="@style/GdxTheme" >
        <activity
            android:name="com.github.msx80.omicron.AndroidLauncher"
            android:label="${appname}" 
            android:screenOrientation="${orientation}"
            android:configChanges="keyboard|keyboardHidden|navigation|orientation|screenSize|screenLayout">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.github.msx80.omicron.CrashActivity"
            android:label="Crash report" >
		</activity>

    </application>

</manifest>
