<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:icon="@drawable/omicronicon"
        android:label="${appName}"
        android:roundIcon="@drawable/omicronicon"
        android:supportsRtl="false"
        tools:targetApi="31">
		<meta-data android:name="omicronMain" android:value="${omicronMain}" />
        <activity
            android:name="com.github.msx80.omicron.AndroidLauncher"
            android:exported="true"
			android:screenOrientation="${orientation}"
            android:label="${appName}"
			android:configChanges="keyboard|keyboardHidden|navigation|orientation|screenSize|screenLayout"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
		<activity
            android:name="com.github.msx80.omicron.CrashActivity"
			android:exported="false"
            android:label="Crash report" >
		</activity>		
    </application>

</manifest>