name: Build

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: Set up JDK 17
      uses: actions/setup-java@v4
      with:
        java-version: 17
        distribution: 'temurin'
    - name: Build Omicron Player
      run: |
        mvn -f ./omicron-player/pom.xml --batch-mode clean compile install package
    - name: Deploy Player
      uses: actions/upload-artifact@v4
      with:
        name: 'omicron.jar'
        path: omicron-player/omicron-assembly/target/omicron.jar       
    - name: Build Hello World cart
      run: |
        cd demo/HelloWorld
        mvn --batch-mode clean compile install package
    - name: Build FeatureDemo cart
      run: |
        cd demo/FeatureDemo
        mvn --batch-mode clean compile install package
    - name: Build FeatureDemoStandalone
      run: |
        cd demo/FeatureDemoStandalone
        mvn --batch-mode clean compile install package
    - name: Build AlienBuster cart
      run: |
        cd demo/AlienBuster
        mvn --batch-mode clean compile install package
    - name: Build Snake cart
      run: |
        cd demo/Snake
        mvn --batch-mode clean compile install package
    - name: Deploy AlienBuster Demo
      uses: actions/upload-artifact@v4
      with:
        name: 'alienbuster.omicron'
        path: demo/AlienBuster/alienbuster.omicron
    - name: Deploy HelloWorld Demo
      uses: actions/upload-artifact@v4
      with:
        name: 'helloworld.omicron'
        path: demo/HelloWorld/helloworld.omicron
    - name: Deploy FeatureDemo Demo
      uses: actions/upload-artifact@v4
      with:
        name: 'feature-demo.omicron'
        path: demo/FeatureDemo/feature-demo.omicron
    - name: Deploy Snake Demo
      uses: actions/upload-artifact@v4
      with:
        name: 'snake.omicron'
        path: demo/Snake/snake.omicron
    - name: Build Web cart for Snake
      run: |
        cd wrappers/web-wrapper
        mvn clean install package -Dcartridge.artifactId=snake -Dcartridge.groupId=com.github.msx80.omicron -Dcartridge.version=0.0.3
    - name: Setup Android SDK
      uses: android-actions/setup-android@v3
    - name: Install packages        
      run: |
        sdkmanager "build-tools;33.0.2" "platforms;android-26"        
    - name: Build AlienBuster Android app
      run: |
        cd wrappers/android-wrapper
        ./gradlew -Pcartridge.artifactId=alienbuster -Pcartridge.groupId=com.github.msx80.omicron  -Pcartridge.version=0.0.3 clean assembleRelease
    - name: Deploy AlienBuster Android App
      uses: actions/upload-artifact@v4
      with:
        name: 'alienbuster.apk'
        path: wrappers/android-wrapper/app/build/outputs/apk/release/app-release-unsigned.apk
    - name: Build Featuredemo Android app
      run: |
        cd wrappers/android-wrapper
        ./gradlew -Pcartridge.artifactId=feature-demo -Pcartridge.groupId=com.github.msx80.omicron  -Pcartridge.version=0.0.3 clean assembleRelease
    - name: Deploy feature-demo Android App
      uses: actions/upload-artifact@v4
      with:
        name: 'feature-demo.apk'
        path: wrappers/android-wrapper/app/build/outputs/apk/release/app-release-unsigned.apk
    - name: Build snake Android app
      run: |
        cd wrappers/android-wrapper
        ./gradlew -Pcartridge.artifactId=snake -Pcartridge.groupId=com.github.msx80.omicron  -Pcartridge.version=0.0.3 clean assembleRelease
    - name: Deploy snake Android App
      uses: actions/upload-artifact@v4
      with:
        name: 'snake.apk'
        path: wrappers/android-wrapper/app/build/outputs/apk/release/app-release-unsigned.apk
    - name: Build helloworld Android app
      run: |
        cd wrappers/android-wrapper
        ./gradlew -Pcartridge.artifactId=helloworld -Pcartridge.groupId=com.github.msx80.omicron  -Pcartridge.version=0.0.3 clean assembleRelease
    - name: Deploy helloworld Android App
      uses: actions/upload-artifact@v4
      with:
        name: 'helloworld.apk'
        path: wrappers/android-wrapper/app/build/outputs/apk/release/app-release-unsigned.apk
